<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Donaciones</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!clicked" class="content-donate">
    <div class="header-button">
      <button ion-button color="light" clear (click)="goToHome()">OK</button>
    </div>
    <div class="wrapper-body-donate">
      <div class="wrapper-text-donate">
        <div class="header-title">
          <img class="image" src="assets/imgs/1869.png" style="width: 134px;">
        </div>
        <br><br><br>
        <div class="header-text">
          <p style="font-size: 2.2rem;">
          Ayuda con tu contribución a los lugares Santos queridos para toda la Cristiandad! Apoya a las comunidades
            cristianas de Tierra Santa! Los Franciscanos de la Custodia recuerdan todos los días en sus oraciones a
            todos aquellos que, en cualquier forma, ayudan a la Tierra Santa
          </p>
          <div style="margin-top: 30px; margin-bottom: 30px;text-align: center;">
            <button ion-button color="light" outline (click)="goToDonate()">Dona ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe *ngIf="clicked" width="100%" height="100%" [src]="myurl" frameborder="0" allowfullscreen></iframe>
</ion-content>
