<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Creditos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="shadow-title" (ionScroll)="onScroll($event)" #scroll>
  <br>
  <br>
  <div class="text title shadow-title center">
    App evangelio
  </div>
  <br>
  <br>
  <div class="text title shadow-title center">
    CRÉDITOS
  </div>
  <br>
  <div class="text  center">
    <span class="title">NARRADOR</span>
    <br>
    <br>
    <div class="center">Fernando Solís</div>
  </div>
  <br>
  <div class="text shadow-title ">
    <span class="title">ILUSTRACIONES DE CARÁTULAS</span>
    <br>
    <br>
    <span class="title"> Creditos Dibujos </span>
    <br>
    <div class="center">María Paz Valdivieso</div>
  </div>
  <br><br>
  <div class="text lh-24 center">
    <span class="title ">VOCES</span>
    <div class="center">Patricio Gutiérrez</div>
    <div class="center">Eduardo Valenzuela</div>
    <div class="center">Fredy Hube</div>
    <div class="center">Felipe Wuth</div>
    <div class="center">Luz Jiménez</div>
    <div class="center">Gloria Loyola</div>
    <div class="center">Alejandro Trejos</div>
    <div class="center">Ismael Buzada</div>
    <div class="center">Javier Rodríguez</div>
    <div class="center">Samuel Guajardo</div>
    <div class="center">Raúl Marín</div>
    <div class="center">Rene Pinochet</div>
    <div class="center">Mark Carballo</div>
    <div class="center">José Soza</div>
    <div class="center">Marcela Golzio</div>
    <div class="center">Nicolas Chaguán</div>
    <div class="center">Braulio Martinez</div>
    <div class="center">Nancy Olguín</div>
    <div class="center">Karina Rojas</div>
    <div class="center">Teresa Hales</div>
    <div class="center">Mauricio Torres</div>
    <div class="center">Sandro Larenas</div>
    <div class="center">Raimundo Valdés</div>
    <div class="center">Marcela Trujillo</div>
    <div class="center">Chester Gallardo</div>
    <div class="center">Ignacio Gonzalez</div>
  </div>
  <br>
  <br>
  <div class="text shadow-title">
    <span class="title ">INGENIERO DE GRABACIÓN</span>
    <br>
    <br>
    <div class="center">Daniel Lencina</div>
  </div>
  <br>
  <div class="text">
    <span class="shadow-title title">DIRECTOR CREATIVO</span>
    <br>
    <br>
    <div class="center">Juan I. Valdivieso</div>
  </div>
  <br>
  <div class="text">
    <span class="shadow-title title">DIRECTOR</span>
    <br>
    <br>
    <div class="center">Pbro. Álvaro Rocha Genie</div>
  </div>
  <br>
  <div class="text">
    <span class="shadow-title title">APROBACIÓN ECLESIÁSTICA</span>
    <br>
    <br>
    <div class="center">Diócesis de San Bernardo, Chile</div>
  </div>
  <br>
  <div class="text">
    <span class="shadow-title title">EMPRESA DE SONIDO</span>
    <br>
    <br>
    <div class="center">CANES</div>
  </div>
  <br>
  <div class="text">
    <span class="shadow-title title">FUENTE DEL GUIÓN</span>
    <br>
    <br>
    <div class="center">1. Evangelios Concordados Ilustrados:</div>
    <div class="center">Andrés Codesal Martín</div>
    <br>
    <div class="center">2. Biblia Clerus:</div>
    <div class="center">Biblia electrónica católica</div>
    <div class="center">(Congregación para el Clero, Santa Sede)</div>
  </div>
  <br>
  <div class="center shadow-title title">
    Copyright: © DAC Ltda. 2008
  </div>


</ion-content>
<!--<ion-footer class="footer-player">
    <mini-player-component></mini-player-component>
</ion-footer>-->
