<ion-content>
    <div class="row content-login">
        <ion-card>
            <ion-card-header class="card-header gray">
                Inicia sesión
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input class="lowerCase" type="email" value="" [(ngModel)]="username" (ngModelChange)="checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input type="password" value="" [(ngModel)]="pwd" (ngModelChange)="checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Recuerdame</ion-label>
                    <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-buttons class="button-container">
                        <button class="login" ion-button block [disabled]="!full" (click)="login()">Inicia Sesion</button>
                    </ion-buttons>
                </ion-item>
                <p class="forgot" (click) = "goToForgotPassword()">
                    ¿Olvido su contraseña?
                </p>
            </ion-card-content>
        </ion-card>

    </div>
    <div class="button-container">
        <ion-buttons class="button-container">
            <button class="white" ion-button clear (click)="goToRegisterPage()">Registrarme</button>
        </ion-buttons>
      <ion-buttons class="button-container">
        <button class="white" ion-button clear (click)="explorar()">Explorar</button>
      </ion-buttons>
    </div>
</ion-content>
