<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Donaciones</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!clicked" class="content-donate">
    <div class="header-button">
      <button ion-button color="light" clear (click)="goToHome()">OK</button>
    </div>
    <div class="wrapper-body-donate">
      <div class="wrapper-text-donate">
        <div class="header-title">
          <h3><img class="image" src="assets/imgs/saxum-logo.png"></h3>
        </div>
        <div class="header-text">
          <p>
            Surge para ayudar a que los peregrinos a Tierra Santa profundicen en las raíces de su fe y para fomentar el
            diálogo entre personas de distintas religiones.
          </p>
          <p>
            El centro Saxum ofrece un recorrido didáctico sobre la Tierra Santa —realizado con tecnología avanzada de
            proyección, explicaciones personales, audiovisuales y recreaciones digitales—, sobre su geografía, los
            lugares santos, la Biblia y los eventos centrales de la historia de la salvación. Miles de personas podrán
            prepararse así para tener una experiencia más provechosa de su paso por Tierra Santa.
          </p>
        </div>
        <div style="margin-top: 30px; margin-bottom: 30px;">
          <button ion-button color="light" outline (click)="goToDonate()">Dona ahora</button>
        </div>
      </div>
    </div>
  </div>
  <iframe *ngIf="clicked" width="100%" height="100%" [src]="myurl" frameborder="0" allowfullscreen></iframe>
</ion-content>
