page-register{

    ion-content{
            background-image: url('../assets/imgs/home.jpg') !important;
            background-size: cover !important;
            background-position: center !important;
        }
        .content-login{
            margin-top: 4em !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
        .card-header{
            text-align: center !important;
            border-radius: 10px !important;
        }

        .button-container{
            text-align: center;
        }
        .login{
            background-color: #94da33!important
        }
        ion-card{
            width: 23em !important;
            border-radius: 7px !important;
        }

        .gray{
            color:gray;
        }

        .white{
            color:white;
        }

        .center{
            text-align: center !important;
        }

        .inline {
            display: inline !important;
            color: #0d83d4;
            font-weight: bold;
        }

}
