<ion-content>
    <div class="row content-login">
        <ion-card>
            <ion-card-header class="card-header gray">
                Registro
                <div>
                    <ion-avatar item-start (click) = "pickImage()">
                        <img class="circle-menu" [src]="avatar">
                    </ion-avatar>
                </div>
            </ion-card-header>
            <ion-card-content>

                <ion-item>
                    <ion-label floating>Nombre</ion-label>
                    <ion-input type="text" [(ngModel)]="user.firstName" (ngModelChange) = "checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Apellido</ion-label>
                    <ion-input type="text" [(ngModel)]="user.lastName" (ngModelChange) = "checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Correo</ion-label>
                    <ion-input type="email" [(ngModel)]="user.email" (ngModelChange) = "checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" (ngModelChange) = "checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Repite tu Contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="confirmPassword" (ngModelChange) = "checkParameters()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-buttons class="button-container">
                        <button class="login" ion-button block (click)="register()" [disabled] = "!full" >Registrarme</button>
                    </ion-buttons>
                </ion-item>
                <div class="center">
                    Ya tienes cuenta?
                    <p class="inline" (click)="goToLogin()">Inicia sesión</p>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>