<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Listas de Reproduccion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <album-card *ngFor="let album of items" [showToggle]="true" [album]="album" [isAlbum]="true"
                (showAlbum)="showAlbum($event)"></album-card>
  </ion-list>
</ion-content>
<!--<ion-footer class="footer-player"  >
  <mini-player-component></mini-player-component>
</ion-footer>-->

