<div class="player">
  <div class="song-name center">
    {{this.dataService.getPlayingName() || "--"}}
  </div>
  <ion-range class="range" min="0" max="{{this.dataService.getDuration()}}" [(ngModel)]="this.dataService.position">
    <!--  [disabled]="is_in_play && is_playing"  -->
    <ion-label class="player-label" range-left>
      <span style="font-variant-numeric:tabular-nums"> {{ this.dataService.position*1000 | date:'mm:ss' }}</span>
    </ion-label>
    <ion-label class="player-label" range-right *ngIf="this.dataService.getDuration() == -1">--:--</ion-label>
    <ion-label class="player-label" range-right *ngIf="this.dataService.getDuration() != -1">
      <span style="font-variant-numeric:tabular-nums">{{ this.dataService.getDuration()*1000 | date:'mm:ss' }}</span>
    </ion-label>
  </ion-range>
</div>

<div class="center-player" align-items-center>
  <!-- Backwards -->
  <button ion-button outline class="skip-btn" color="primary" (click)="previousSong()">
    &nbsp;&nbsp;<ion-icon name="skip-backward"></ion-icon>&nbsp;&nbsp;
  </button>
  <!-- Play/Pause -->
  <button ion-button outline class="play-pause-btn" *ngIf="!this.dataService.getPlaying()" color="primary"
          (click)="playMusic()">
    <ion-icon name="play"></ion-icon>
  </button>
  <button ion-button outline class="play-pause-btn" *ngIf="this.dataService.getPlaying()" color="secondary"
          (click)="pauseMusic()">
    <ion-icon name="pause"></ion-icon>
  </button>
  <!-- Forwards -->
  <button outline ion-button class="skip-btn" color="primary" (click)="nextSong()">
    &nbsp;&nbsp;<ion-icon name="skip-forward"></ion-icon>&nbsp;&nbsp;
  </button>
</div>
