<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title class="pure-title">Categorias</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <album-card *ngFor="let album of items" [showToggle]="false" [album]="album" [isAlbum] = "false" [category]="true" (click)="showAlbum(album)"></album-card>
    </ion-list>
</ion-content>
<!--<ion-footer class="footer-player"  >
  <mini-player-component></mini-player-component>
</ion-footer>-->
