<ion-navbar class="position-ab">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
</ion-navbar>
<ion-header id="header" [ngClass]="classHeader" background="red" class="header-custom">
    <div class=" music-info-container center">
        <!--<ion-title>{{album.name}}</ion-title>-->
        <ion-icon *ngIf="!favorite && type !== 1" class="white" name="heart-outline" (click)="toggleFavorite()"></ion-icon>
        <ion-icon *ngIf="favorite && type !== 1" class="red" name="heart" (click)="toggleFavorite()"></ion-icon>
    </div>
    <!--<ion-grid>
        <ion-row>
            <ion-col col-6 offset-3>
                <div ion-item class="row transparent">
                    <ion-select [(ngModel)]="timer" placeholder="Tiempo" interface="popover">
                         <ion-option value="3000">5 min</ion-option>
                        <ion-option value="6000">10 min</ion-option>
                        <ion-option value="9000">15 min</ion-option>
                        <ion-option value="12000">20 min</ion-option>
                        <ion-option value="15000">25 min</ion-option>
                        <ion-option value="18000">30 min</ion-option>
                    </ion-select>
                </div>
                <p class="center white ">Tiempo Limite de Reproducción</p>
            </ion-col>
        </ion-row>
    </ion-grid>-->
</ion-header>
<div class="list-r">
    <ion-grid>
        <div class="center">
            <p class="center white">Tiempo Limite de Reproducción</p>
        </div>
        <p style="position: absolute;top: 20%;font-size: 10px;width: 98%;text-align: center;color: #999;">
          <!--{{ dataService.getTimerReload() | date:'mm:ss' }}-->
          {{ dataService.getTimerReload()*1000 | date:'mm:ss'}}
          <!--{{ dataService.getTimerReload()}}-->
          <!--{{ (dataService.getTimer() >= 50 ? (dataService.getTimer() * 10) - dataService.position: 0) | date:'mm:ss' }}-->
        </p>
        <div class="transparent center container">
            <ion-select [(ngModel)]="timer" placeholder="Tiempo" interface="popover" class="center-content center" style="margin-left: 2%;">
                <ion-option value="0">Time</ion-option>
                <ion-option value="3000">5 min</ion-option>
                <ion-option value="6000">10 min</ion-option>
                <ion-option value="9000">15 min</ion-option>
                <ion-option value="12000">20 min</ion-option>
                <ion-option value="15000">25 min</ion-option>
                <ion-option value="18000">30 min</ion-option>
            </ion-select>
        </div>
        <div class="center bottomLine" style="border-color: transparent !important;">
            <p class="center white  pistas"> {{this.songs.length}} pistas</p>
        </div>
    </ion-grid>
</div>
<ion-content>
    <ion-list>
        <card-song *ngFor="let song of songs" (click)="play(song)" [song]="song"></card-song>
    </ion-list>
</ion-content>
<!--<ion-footer class="footer-player"  >
  <mini-player-component></mini-player-component>
</ion-footer>-->
