page-songList {
  .position-ab {
    position: absolute;
    z-index: 2;
  }
  .header-custom {
    height: 27.5% !important;
    width: 55% !important;
    margin: 0 auto !important;
    left: 0%;
    top: 2%;
    position: relative;
    -webkit-box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
  }
  ion-content {
    background: rgba(48,45,36,1);
    background: -moz-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,45,36,1)), color-stop(100%, rgba(9,10,9,1)));
    background: -webkit-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -o-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: linear-gradient(to bottom, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302d24', endColorstr='#090a09', GradientType=0 );
    position: relative;
    font-family: 'Roboto';
    color: white !important;
    &::after {
      content: "";
      background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      color: white !important;
    }
    .scroll-content {
      margin-bottom: 0% !important;
      margin-top: 339px !important;
    }

    .fixed-content {
      margin-bottom: 0% !important;
      margin-top: 300px !important;
    }
  }

  .list-r {
    position: relative;
    z-index: 2;
    color: white;
    top: 22px;
    font-size: 1.4rem;
    .left {
      float: left;
      margin-bottom: 0;
    }
    .pistas {
      margin: 0 !important;
      position: relative !important;
      top: -10px !important;
    }
  }
  .header-song {
    //height: 35% !important
  }

  .header-song-activated {
    height: 31% !important;
  }
  ion-navbar {
    .button-inner {
      color: white !important;
    }
  }

  .scroll-content {
    //background: linear-gradient( #001130, black) !important;
  }

  .card-md {
    box-shadow: none;
  }

  .toolbar-background {
    color: black !important;
    background: transparent !important;
  }

  .button-transparent {
    background: transparent !important;
    color: white !important;
  }

  .white {
    color: white !important;
  }

  .center {
    text-align: center;
  }

  .container {
    display: flex;
  }

  .center-content {
    align-self: center;
  }

  .padding-bottom {
    border: none;
  }

  .red {
    color: rgba(208, 0, 0, 0.76);
  }

  .bottomLine {
    border-bottom: solid 1px gray;
  }

  .music-info-container {
    //float: right;
    font-size: 3rem;
    margin: 0;
    top: 40%;
    position: relative;
    .toolbar-title {
      text-align: center !important;
      color: white !important;
      font-size: 2.5rem !important;
    }
  }

  .transparent {
    background: transparent !important;
  }
  .select-text {
    color: white !important;
  }

  .select-icon {
    top: -4px;
  }

  .x-small {
    font-size: x-small !important;
  }

  .list-md {
    margin: 1rem 0 16px !important;
  }

  ion-select {
    padding-left: 43% !important;
    max-width: 100% !important;
  }

  .item-md.item-block .item-inner{
    //border-bottom: 0 !important;
    border-color: transparent;
  }
}
