<ion-content class= "spotibackground">
  <h3 class="titulo">Jesucristo</h3>
</ion-content>
<ion-footer>
  <ion-buttons class="button-container">
      <button class = "button-home first" style="font-family: 'Roboto';" ion-button (click) = "gotoLogin()">Inicia Sesión</button>
      <button class = "button-home second" ion-button style="font-family: 'Roboto';" (click) = "goToRegisterPage()">Registrate</button>
  </ion-buttons>
</ion-footer>
