<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Album</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!clicked" class="content-donate">
    <div class="header-button">
      <button ion-button color="light" clear (click)="goToHome()">OK</button>
    </div>
    <div class="wrapper-body-donate">
      <div class="wrapper-text-donate">
        <div class="header-title">
          <h4>{{album.name}}</h4>
        </div>
        <div class="header-text">
          <!--natividad-->
          <div *ngIf="album.id === '5b3add61b520934ecfd21838'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">«Bienaventurados más bien los que escuchan la palabra de Dios y la guardan» <br>
            (San Lucas 11, 28)</p>
            <p class="p-texto">
              En los inicios de la historia humana no existe momento más sublime que aquel elegido por Dios para hacerse
              hombre. Lo narran los Evangelios de San Juan y San Lucas, cada uno con unas luces únicas del Señor. El
              primero, testigo ocular del paso de Dios por este mundo, abre el escenario con la elevación de sus
              pensamientos hacia las alturas celestiales, y cierra el telón con el Bautismo de Jesús. El segundo,
              historiador de primer orden, relata los únicos detalles conocidos de la infancia de Jesucristo, bebiendo de
              una fuente privilegiada: la Virgen María, Madre del Salvador.
            </p>
          </div>
          <div *ngIf="album.id === '5b3ceb94339c8c1ad990a9d2'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">«Desconocer la Escritura es desconocer a Cristo» <br>(San Jerónimo).</p>
            <p class="p-texto">
              Cuarenta días de oración y de penitencia. Casi al final tiene lugar la escena de las tentaciones: Cristo es
              tentado por el demonio…, para darnos ejemplo de lucha contra ellas. Resalta en esta parte el primer milagro
              en las bodas de Caná, que Cristo realizó a ruegos de su Madre; la admirable escena junto al pozo de Sicar;
              el primer exorcismo, señal privilegiada de la venida de Dios al mundo… y ¡el Sermón de la Montaña! Las
              Bienaventuranzas, que son el centro de la predicación de Jesús. Ellas dibujan el rostro mismo de Jesús, y
              trazan la auténtica vida cristiana, desvelando al hombre el fin último de sus actos: la bienaventuranza
              eterna.
            </p>
          </div>
          <div  *ngIf="album.id === '5b3cebdb339c8c1ad990a9d3'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              «A Dios hablamos cuando oramos, a Dios escuchamos cuando leemos sus palabras» <br>
            (San Ambrosio)
            </p>
            <p class="p-texto">
              Jesús es el Maestro. «Llama a entrar en el Reino a través de las parábolas, rasgo típico de su enseñanza.
              Por medio de ellas invita al banquete del Reino, pero exige también una elección radical para alcanzar el
              Reino, es necesario darlo todo; las palabras no bastan, hacen falta obras. Las parábolas son como un espejo
              para el hombre: ¿acoge la palabra como un suelo duro o como una buena tierra? ¿Qué hace con los talentos
              recibidos? Jesús y la presencia del Reino en este mundo están secretamente en el corazón de las parábolas.
              Es preciso entrar en el Reino, es decir, hacerse discípulo de Cristo para “conocer los Misterios del Reino
              de los cielos”. Para los que están “fuera”, la enseñanza de las parábolas es algo enigmático».
            </p>
          </div>
          <div *ngIf="album.id === '5b3cebe9339c8c1ad990a9d4'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              Lo que se ha escrito en los Evangelios lo ha sido «para que creáis que Jesús es el Cristo, el Hijo de Dios,
            y para que creyendo tengáis vida en su nombre». <br>
            (San Juan 20, 31)
            </p>
            <p class="p-texto" >
              El poder de Jesucristo se hace manifiesto, acompañando con sus palabras numerosos “milagros, prodigios y
              signos” (Hch 2, 22) que atestiguan que es el Mesías anunciado. Jesús no busca satisfacer la curiosidad, ni
              alardear de sus poderes sobrenaturales para imponerse, coaccionando a los demás a creer en Él. Estas
              manifestaciones extraordinarias del poder divino invitan a adherirse a su Persona. Fortalecen la fe en
              “Aquel que hace las obras de su Padre”. Pero también pueden ser para algunos, mal dispuestos, “ocasión de
              escándalo”. <br>
              Sobresale el episodio del Primado de Pedro, y el envío de los discípulos a predicar el Evangelio: la Buena
              Noticia de que la salvación ha llegado al mundo.
            </p>
          </div>
          <div  *ngIf="album.id === '5b3cebfd339c8c1ad990a9d5'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              «Poned, pues, en vuestro corazón y en vuestra alma las palabras que Yo os digo; atadlas a vuestras manos
            para recordarlas y ponedlas como frontal ante vuestros ojos» <br>
            (Deuteronomio 11, 18).
            </p>
            <p class="p-texto">
              Santa Cesárea afirmaba: “No hay ninguna doctrina que sea mejor, más preciosa y más espléndida que el texto
              del Evangelio. Ved y retened lo que nuestro Señor y Maestro, Cristo, ha enseñado mediante sus palabras y
              realizado mediante sus obras”. Sí, Jesús es el Maestro y Señor, que merece nuestra más profunda atención,
              pues “enseña con autoridad” la verdad; pero además de Maestro es el Buen Pastor, que da la vida por sus
              ovejas; es el amigo fiel de Lázaro, Marta y María; es el Dios misericordioso, que vino al mundo
              compadeciéndose de nuestras miserias humanas…
            </p>
          </div>
          <div  *ngIf="album.id === '5b3cec15339c8c1ad990a9d6'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              «Los evangelios son el corazón de todas las Escrituras “por ser el testimonio principal de la vida y
            doctrina de la Palabra hecha carne, nuestro Salvador”». <br>
            (Dei Verbum, 18). <br>
            «Es sobre todo el Evangelio lo que me ocupa durante mis oraciones; en él encuentro todo lo que es necesario
            a mi pobre alma. En él descubro siempre nuevas luces, sentidos escondidos y misteriosos». <br>
            (Santa Teresa del Niño Jesús).
            </p>
            <p class="p-texto">
              Se acentúan los conflictos por las curaciones en el sábado, y los relatos sobre el dolor lleno de
              indignación del Señor por la dureza de corazón de sus enemigos. <br>
              En la instrucción a los discípulos sobresale la enseñanza de la humildad y la caridad en el servicio y en la
              entrega a los demás. Estas dos virtudes exigen salir del recinto cerrado del propio yo, que considera la
              autorrealización como la razón principal de la propia existencia. Jesús insiste que hemos de estar
              particularmente atentos a las necesidades ajenas, guardándonos de la ambición desmedida y del peligro de las
              riquezas, que endurecen el corazón humano. <br>
              El episodio de la entrada triunfal de Jesús en Jerusalén cumple las profecías mesiánicas, y el pueblo le
              aclama como el Hijo de David.
            </p>
          </div>
          <div *ngIf="album.id === '5b3cec2d339c8c1ad990a9d7'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              «Todo lo que dicen las Escrituras lo dice el Señor, por lo que son más dignas de fe que el que un muerto
            resucite, o que un ángel del Señor baje del cielo». <br>
            (San Juan Crisóstomo)
            </p>
            <p class="p-texto">
              La narración muestra la creciente tensión entre Jesús y los grupos dominantes de la sociedad religiosa de su
              tiempo, hasta la crisis final, que tiene su epílogo dramático en el Gólgota. Jesús es el Hijo de Dios: por
              esta verdad será condenado a muerte, y Cristo confirmará su veracidad con su Resurrección gloriosa. <br>
              Con acentos entrañables, Jesús se despide de los suyos y ora por los que creerán por ellos. Pero antes
              instituye la Eucaristía, el sacramento de su amor por nosotros, y enseña el Nuevo Mandamiento de la caridad
              con su ejemplo. De aquí para adelante será este mandamiento la señal distintiva de los cristianos de todos
              los tiempos.
            </p>
          </div>
          <div *ngIf="album.id === '5b3cec44339c8c1ad990a9d8'">
            <p style="text-align: right !important;font-size: 16px !important;font-style: italic;">
              «Nada hay tan eficaz para la salvación y para la siembra de todas las virtudes en un corazón cristiano como
            la contemplación piadosa y afectiva de cada una de las escenas de la pasión de Cristo». <br>
            (Santo Tomás Moro) <br>
            «“Pasión” quiere decir amor apasionado, que en el darse no hace cálculos: la pasión de Cristo es el culmen
            de toda su existencia “dada” a los hermanos para revelar el corazón del Padre (...). La Cruz, que parece
            alzarse desde la tierra, en realidad cuelga del cielo, como abrazo divino que estrecha al universo». <br>
            (Juan Pablo II)
            </p>
            <p class="p-texto">
              La vívida narración de las últimas doce horas de la vida de Jesucristo nos sitúa en el drama de la Pasión y
              Muerte de Nuestro Señor: la agonía en el huerto, el prendimiento, los juicios civiles y religiosos, la
              condena, la flagelación, la coronación de espinas, las cruz a cuestas, la crucifixión y la muerte afrentosa.
              Es la hora de las tinieblas, a la que seguirá una nueva, radiante y definitiva aurora. En efecto, las
              narraciones evangélicas terminan mostrando al Nazareno victorioso sobre la muerte, señalan la tumba vacía y
              lo siguen en el ciclo de las apariciones, en las cuales los discípulos, perplejos y atónitos antes, llenos
              de indecible gozo después, lo experimentan vivo y radiante, y de Él reciben el don del Espíritu Santo, y con
              él, el mandato de predicar en su nombre la conversión para el perdón de los pecados “a todas las gentes”.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe *ngIf="clicked" width="100%" height="100%" [src]="myurl" frameborder="0" allowfullscreen></iframe>
</ion-content>
