<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="pure-title">Mi Cuenta</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-avatar class="avatar" (click)="pickImage()">
        <img class="circle-menu" [src]="this.dataService.getAvatar()">
    </ion-avatar>
    <p class = "white center"> {{user.email}}</p>
    <div class="item-container">
        <ion-item no-lines class = "transparent item-data">
            <ion-label class = "icon"> <ion-icon name="person"></ion-icon></ion-label>
            <ion-input clearInput type="text" [placeholder] = "user.firstName" disabled></ion-input>
        </ion-item>
        <ion-item no-lines class = "transparent item-data">
            <ion-label class = "icon"> <ion-icon name="person"></ion-icon></ion-label>
            <ion-input clearInput type="text" [placeholder] = "user.lastName" disabled></ion-input>
        </ion-item>
    </div>
</ion-content>

<ion-footer class="center" no-border>
    <button ion-button round outline class="button-sesion" (click)="logout()"> Cerrar Sesion </button>
</ion-footer>
