page-config{
    ion-content{
      background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
      background-size: cover !important;
      background-position: center !important;
      position: relative;
      font-family: 'Roboto';
      color: white !important;
      &::after {
        content: "";
        background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
        background-size: cover !important;
        background-position: center !important;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        color: white !important;
      }
    }

    .button-config{
        background: transparent !important;
        color: white !important;
    }
    .title{
        color: white !important;
        font-size: 1.5rem !important;
        margin-right: 12% !important;
    }
    .center {
        text-align: center !important;
    }

    .button-sesion{
        margin-bottom: 10% !important;
        color: white !important;
        border-color: white !important;
        width: 20rem !important;
    }

    .avatar{
        text-align: center !important;
        margin-top: 5% !important
    }

    .input-wrapper{
        background: white !important;
        border-radius: 16px !important;
    }

    .icon{
        margin-left: 5% !important;
    }

    .transparent{
        background: transparent !important;
    }

    .item-data{
        width: 60% !important;
        margin-top: 5% !important;
        display: inline-block;
    }
    .item-container{
        text-align: center !important;
    }

    .white {
        color: white !important;
    }

    .text-input[disabled] {
        opacity: 1 !important;
    }
}
