<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title class="pure-title">Favoritos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <album-card *ngFor="let album of items" [showToggle]="true" [album]="album" [isAlbum] = "true" (click)="showAlbum(album)"></album-card>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from
        <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
<!--<ion-footer class="footer-player">
    <mini-player-component></mini-player-component>
</ion-footer>-->