// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

button {
  text-transform: none !important;
  border-radius: 8px !important;
}

ion-menu[type=reveal] {
    z-index: 100 !important;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../assets/fonts/Baskerville Old Face.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Holy-Bible';
  src: url('../assets/fonts/JMH Holy Bible.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.holy-font {
  font-family: 'Roboto';
}

.miniPlayer{
  height: 10%;
}

.full{
  height: 100%;
}

.withPlayer{
  height: 90%;
}

.toolbar-background {
  background: linear-gradient(to right, rgba(16, 20, 33, 0.74),
    rgba(56, 60, 72, 0.51), rgba(118, 160, 165, 0.47),
    rgba(118, 160, 165, 0.47), rgba(56, 60, 72, 0.51),
    rgba(16, 20, 33, 0.74)) !important;

}

.toolbar-title {
  text-align: center !important;
  color: white !important;
  font-size: 1.3rem !important;
}

ion-navbar {
  button {
    color: white !important;
  }
}

.menu-inner {
  background-color: rgba(34, 37, 43, 0.69) !important;
  width: 280px !important;
  .item-inner {
    border: 0 !important;
  }
}

ion-menu {
  ion-content {
    background: rgba(48,45,36,1);
    background: -moz-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,45,36,1)), color-stop(100%, rgba(9,10,9,1)));
    background: -webkit-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -o-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: linear-gradient(to bottom, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302d24', endColorstr='#090a09', GradientType=0 );
    position: relative;
    color:white !important;
    font-family: 'Roboto';
    &::after {
      content: "";
      background-image: url('../assets/imgs/wallpaper-menu.png') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }

  button {
    background: transparent !important;
    color: white !important;
  }

  button.title-btn {
    background: transparent !important;
    color: white !important;
    font-family: 'Roboto';
    //text-shadow: 2px 2px 2px rgb (0, 0, 0);
  }

  /*.center-social button {
    color:darkred !important;
    ion-icon {
      color:darkred !important;
    }
  }*/
}

.circle-menu {
  background: white;
  width: 8rem;
  height: 8rem;
  border-radius: 100px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
  //margin-top: 2vh;
  //margin-left: 2vh;
  //display: inline-block;
}

.avatar-container {
  margin-top: 1% !important;
}

.has-header-avatar {
  //padding-top: 15% !important;
  ion-list {
    margin-top: 5% !important;
  }
  -webkit-box-shadow: inset -10px 0px 25px -1px rgba(0,0,0,1);
  -moz-box-shadow: inset -10px 0px 25px -1px rgba(0,0,0,1);
  box-shadow: inset -10px 0px 25px -1px rgba(0,0,0,1);
}

.has-background {
  background: rgba(75, 139, 171, 0.41) !important;
}

.user-name {
  margin-top: 2%;
  //margin-left: 5%;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  //text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.center-social {
  margin-left: 5% !important;
  margin-bottom: 3% !important;
}

.large-icon {
  font-size: xx-large !important;
  color: white !important;
}

.avatar-center {
  /*margin-left: 9%;
  margin-top: 0%;
  margin-bottom: 4%;*/
  width: 100%;
}

.footer-player {
  height: 20%;
  background: black;
  border-top-color: #898989;
  border-width: 1px;
  border-style: solid;

  .vol {
    background-color: transparent !important;
    .item-inner {
      border-bottom: 0px !important
    }
  }

  .range-slider {
    margin-bottom: 2% !important;
  }

  .play-pause-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white !important;
    border-color: white !important;
    font-size: 1.3em;
    border-radius: 50% !important;
  }

  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    color: white !important;
    border-color: white !important;
  }

  .white {
    color: white;
  }

  .center-player {
    text-align: center;
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  ion-spinner {
    margin-left: 47% !important;
    * {
      stroke: white;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: white;
    }
  }

  .false-spinner {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
  }

  .range {
    height: 20px;
    margin-top: 4%;
  }

  .player {
    height: 50%;
  }

  .player-label {
    color: white !important;
  }

  .song-name {
    color: white !important;
    text-align: center;
    margin-top: 1%;
  }

  .pure-title {
    margin-right: 10% !important;
  }
}

.range-ios .range-knob-handle {
  top: 24px !important;
}

mini-player-component {
  .range-ios .range-knob-handle {
    top: 20px !important;
  }
}

.content-donate {
  display: flex;
  flex-direction: column;
  /*background-image: url('../assets/imgs/wallpaper-menu.png') !important;
  background-size: cover !important;
  background-position: center !important;*/
  height: 100%;

  .header-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      font-size: 22px !important;
      font-weight: 300;
      margin-top: 15px !important;
      color: white;
    }
  }

  .header-title {
    h4 {
      font-size: 24px;
      font-weight: 100;
      text-align: center;
      color: #fff;
      letter-spacing: 2px;
    }
  }

  .header-text {
    color: #fff;
    font-weight: 100 !important;
    p {
      text-align: center;
      padding: 0 50px;
      font-size: 1.9rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .header-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      font-size: 16px !important;
      font-weight: 100;
      border-radius: 4px !important;
      padding: 20px 10px !important;
      letter-spacing: 2px;
      color: white;
      border: 2px solid white !important;
    }
  }

  .wrapper-body-donate {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding: 0 0 10px;
  }

  .wrapper-text-donate {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
  }
}

// custom
.toolbar-background {
  background: transparent !important;
}
