<ion-menu [content]="content" type="overlay" [swipeEnabled]="this.dataService.getSwipe()">
  <ion-header class="avatar-container" no-border>
    <div class="row">
      <ion-avatar class="avatar-center" (click)="pickImage()">
        <img class="circle-menu" [src]="this.dataService.getAvatar()">
      </ion-avatar>
      <div class="user-name" *ngIf="this.dataService.getUserLoged() !== undefined">
        {{this.dataService.getUserLoged().firstName}} {{this.dataService.getUserLoged().lastName}}
      </div>
    </div>
  </ion-header>

  <ion-content class="has-header-avatar">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="font-size: 2rem;" class="title-btn">
        <!--<ion-icon [name]="p.icon"></ion-icon>-->
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer no-border>
    <div class="row center-social">
      <button ion-button icon-only (click)="share(1)">
        <ion-icon class = "large-icon" name = "logo-twitter" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="share(2)">
        <ion-icon class = "large-icon" name ="logo-facebook" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="share(3)">
        <ion-icon class = "large-icon" name = "logo-whatsapp" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="share(4)">
        <ion-icon  class = "large-icon" name = "logo-instagram" ></ion-icon>
      </button>
    </div>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [ngClass]="{'withPlayer': dataService.getPseudoPlayer() === true, 'full': dataService.getPseudoPlayer() === false}" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-footer class="miniPlayer" *ngIf="dataService.getPseudoPlayer() === true">
  <pseudo-player></pseudo-player>
</ion-footer>
