page-forgot{

    ion-content{
        background-image: url('../assets/imgs/home.jpg') !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .content-login{
        margin-top: 10em !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .card-header{
        text-align: center !important;
        border-radius: 10px !important;
    }

    .button-container{
        text-align: center;
    }
    .login{
        background-color: #94da33!important
    }
    ion-card{
        width: 23em !important;
        border-radius: 7px !important;
    }

    .gray{
        color:gray;
    }

    .white{
        color:white;
    }

    .lowerCase{
         text-transform: lowercase !important;
    }

    .forgot {
        text-align: center;
        color: #0cb2ff;
        font-weight: 500;

    }
}
