<ion-header>
    <ion-navbar>
        <ion-title class="pure-title">Recuperar Contraseña</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="row content-login">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input class="lowerCase" type="email" value="" [(ngModel)]="email" (ngModelChange)="checkParameters()" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-buttons class="button-container">
                        <button class="login" ion-button block [disabled]="!full"  (click)="recover()" >Recuperar Contraseña</button>
                    </ion-buttons>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>