card-song {
  .transparent {
    background: transparent;
    min-height: 50px !important;
  }
  .card-song-title {
    //color: #dddddd;
    font-family: serif;
    font-size: 1.6rem;
  }
  .shadow-title {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  .song-number {
    margin-top: 25%;
    font-size: larger;
    color: gray;
  }

  .center-icon {
    margin: 0 auto !important;
  }

  .card-song-sub {
    color: gray;
    font-size: 1.6rem;
  }

  .card-song-minutes {
    color: gray;
    margin-top: 30%;
  }

  .circle-button {
    color: white;
    //border-radius: 3.5rem !important;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    box-shadow: none;
    //border-color: white;
  }

  .playing {
    color: #35ff00 !important;
  }
}
