<ion-card class="transparent">
    <ion-grid>
        <ion-row style="line-height: 1.3;">
            <!--<ion-col col-2>
                <div [ngClass]="(this.dataService.getPlayingName() === song.name) ? ' song-number playing' : 'song-number'">
                    {{song.pos}}
                </div>
            </ion-col>-->
            <ion-col col-10>
                <ion-row>
                    <div class="shadow-title" [ngClass]="(this.dataService.getPlayingName() === song.name) ? ' card-song-title playing' : 'card-song-title'">
                        {{song.name}}
                    </div>
                </ion-row>
                <ion-row>
                    <div class="card-song-sub">
                        {{this.categorias}}
                    </div>
                </ion-row>
            </ion-col>
            <!--<ion-col col-2>
                <div class="card-song-sub">
                    {{song.length}}
                </div>
            </ion-col>-->
            <ion-col col-2 style="padding-top: 18px;">
                <div class="row">
                    <ion-icon class="white center-icon shadow-title" *ngIf="showIcon" name="cloud-download"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
