<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="myInput"
                       [showCancelButton]="shouldShowCancel"
                       (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)">
        </ion-searchbar>
    </ion-navbar>
    <ion-title class="search-title">Busquedas Recientes</ion-title>
</ion-header>
<ion-content>
    <ion-list>
         <card-song *ngFor = "let song of items" (click)="play(song)" [song] = "song"></card-song>
    </ion-list>
</ion-content>
<!--<ion-footer class="footer-player">
    <mini-player-component></mini-player-component>
</ion-footer>-->
