page-searchList{

    ion-content{
      background: rgba(48,45,36,1);
      background: -moz-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,45,36,1)), color-stop(100%, rgba(9,10,9,1)));
      background: -webkit-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
      background: -o-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
      background: -ms-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
      background: linear-gradient(to bottom, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302d24', endColorstr='#090a09', GradientType=0 );
      position: relative;
      font-family: 'Roboto';
      color: white !important;
      &::after {
        content: "";
        background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
        background-size: cover !important;
        background-position: center !important;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        color: white !important;
      }
    }

    .card-image{
        background: white;
        width: 5rem;
        height: 5rem;
        display: inline-block;
    }

    ion-card{
        background: transparent!important;
        .card-content{
            background: rgba(87, 93, 97, 0.41) !important;
        }
    }

    .center-components{
        padding-left: 1.875rem !important;
    }

    .title{
        color: white !important;
        font-size: 1.5rem !important;

    }

    .info{
        color: gray !important;
        font-size: 1rem !important;
    }

    .toggle-card{
        padding-left: 25%;
    }

    .searchbar-input{
        background: #fff !important;
        border-radius: 20px !important;
        height: 30px !important;
        width: 25rem !important;
    }

    .searchbar-search-icon{
        margin-top: -2% !important;
        position: relative !important;
        top: 23px !important;
    }

    .search-title{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
