<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main-wrapper">
    <div class="wrapper-top">
      <div class="title">
        Jesús de Nazaret
      </div>
      <div class="subtitle">
        Evangelios Narrados
      </div>
      <div class="date">
        {{fecha}}
      </div>
      <div class="content-playlist-icon shadow-box">
        <img class="giant-icon" src="assets/imgs/playlist.svg" (click)="goToPlayList()">
      </div>
    </div>
    <div class="wrapper-bottom">
      <div>
        <a href="javascript:void(0)"><img class="image" src="assets/imgs/saxum-logo.png" (click)="goToDonations()"></a><br>
      </div>
      <div>
        <a href="javascript:void(0)" style="color: white;text-decoration: none;" (click)="goToPaypal()">
          <p style="font-size: 2rem;font-weight: bold;padding: 15px;text-align: right;">
            <img src="assets/imgs/Proterrasancta.png" alt="">
          </p>
        </a>
      </div>
    </div>
  </div>

  <!--<div class="center">
    <div class="title">
      Jesús de Nazaret
    </div>
    <div class="subtitle">
      Evangelios Narrados
    </div>
    <div class="date">
      {{fecha}}
    </div>

    <div class="content-playlist-icon">
      <img class="giant-icon" src="assets/imgs/playlist.svg" (click)="goToPlayList()">
    </div>

    <img class="image" src="assets/imgs/saxum-logo.png" (click)="goToDonations()">
    <ion-icon class="info-icon" name="information-circle"></ion-icon>

  </div>-->
</ion-content>
