
page-home-donation {

  /*ion-content {
    background-image: url('../assets/imgs/home.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
  }*/
  ion-content {
    background: rgba(48, 45, 36, 1);
    background: -moz-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 45, 36, 1)), color-stop(100%, rgba(9, 10, 9, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#302d24', endColorstr='#090a09', GradientType=0);
    position: relative;
    font-family: 'Roboto';
    color: white !important;
    &::after {
      content: "";
      background-image: url('../assets/imgs/home.jpg') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      color: white !important;
    }
  }

  /*.center{
      margin-top: 10%;
      text-align: center !important
  }

  .date{
      color: white;
      font-size: medium;
      margin-top: 5%;
  }

  .image{
      margin-top: 15%;
      margin-right: 60%;
      max-width: 30% !important;
  }

  .giant-icon{
          font-size: 6.8em;
          color: white;
          margin-top: 0%;
          max-width: 50%;
  }

  .title{
      color: white;
      margin-top: 40%;
      font-size: 50px;
      font-family: 'Roboto' !important
  }

  .subtitle{
      margin-top:5%;
      color: white;
      font-size: medium;
  }

  .ion-page {
      height: 85% !important;
  }

  .info-icon{
      margin-left: -8%;
      color: white;
      font-size: 3.2em;
  }*/

  .main-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .wrapper-top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .title{
        color: white;
        font-size: 40px;
        font-family: 'Roboto' !important;
        text-align: center;
        margin: 10px 0;
      }

      .subtitle{
        color: white;
        font-size: medium;
        margin: 10px 0;
      }

      .date{
        color: white;
        font-size: medium;
        margin: 10px 0;
      }

      .content-playlist-icon {
        border: 1px solid #fff;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 10px 0;

        img {
          max-width: 50%;
        }
      }
    }

    .wrapper-bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px 50px;
      position: absolute;
      bottom: 0;

      img {
        max-width: 40% !important;
      }

      .info-icon{
        color: white;
        font-size: 2.5em;
      }
    }
  }

  .content-playlist-icon {
    border: 1px solid #fff;
  }

  .shadow-title {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .shadow-box {
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
  }
}
