pseudo-player{
    .pseudoPlayer{
        background-color: #282828;
        height: 100%
    }
    .center{
        text-align: center;
    }
    .white{
        color: white;
    }
    .gridPlayer{
        padding-top: 3%;
        padding-bottom: 3%;
        position: relative;
        top: -4px;
    }

     ion-spinner {
          margin-left: 47% !important;
    * {
      stroke: white;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: white;
    }
  }

  .nomarging{
      margin: 0px !important;
  }
}
