<div class="pseudoPlayer">
    <ion-grid class="gridPlayer">
        <ion-row>
            <ion-col col-2>
                <div class="center" (click) = "goToMediaPlayer()">
                    <ion-icon class="white" name="ios-arrow-up"></ion-icon>
                    <!--<p style="color:white;">
                      {{ dataService.getTimerReload()*100 | date:'mm:ss' }}
                    </p>-->
                </div>
            </ion-col>
            <ion-col col-8>
                <div class="white center" (click) = "goToMediaPlayer()">
                    {{this.dataService.getPlayingName() || "--"}}
                </div>
                <div style="width: 100%">
                    <ion-spinner [hidden]="!dataService.getShowLoading() || !dataService.getPlaying()" name="dots" class="center"></ion-spinner>
                    <ion-label  [hidden]="dataService.getShowLoading() || dataService.getDuration() <= 0" class="player-label center nomarging white">
                        <span style="font-variant-numeric:tabular-nums"> {{ dataService.position*1000 | date:'mm:ss' }} / {{ dataService.getDuration()*1000 | date:'mm:ss' }}</span>
                    </ion-label>
                </div>
            </ion-col>
            <ion-col col-2>
                <div class="center" style="padding: 5px;font-size: 3rem;">
                    <ion-icon *ngIf="!this.dataService.getPlaying()" class="white" name="play" (click)="play()"></ion-icon>
                    <ion-icon *ngIf="this.dataService.getPlaying()" class="white" name="pause" (click)="pause()"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
