<ion-content class= "spotibackground">
  <div class="text title center" style="margin-top: 40%;">
    Jesús de Nazaret
  </div>
  <div class="text lh-24 center">
    La Aplicación del Evangelio narrado, Jesús de Nazaret consiste en la grabación de los cuatro Evangelios compendiados
    en una
    sola narración (concordados), a los que se les ha añadido ambientación con el fin de hacerlo más cercano, agradable
    y realista al auditorio.
    <br>
    En la producción participaron profesionales con años de experiencia en la televisión y en la radio. El objetivo de
    esta App
    es difundir el Evangelio de Nuestro Señor Jesucristo a todas las personas de habla castellana.
  </div>
  <div class="text center">
    Esta App no tiene ningún afán de lucro
  </div>
  <div style="margin-top: 30px; margin-bottom: 30px;text-align: center;">
    <button ion-button color="light" outline (click)="goLogin()">Iniciar Sesión</button>
    <button ion-button color="light" outline (click)="explorar()">Explorar</button>
  </div>
</ion-content>
