page-preview {
  ion-content {
    background: rgba(48, 45, 36, 1);
    background: -moz-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 45, 36, 1)), color-stop(100%, rgba(9, 10, 9, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#302d24', endColorstr='#090a09', GradientType=0);
    position: relative;
    font-family: 'Roboto';
    color: white !important;
    &::after {
      content: "";
      background-image: url('../assets/imgs/home.jpg') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      color: white !important;
    }
  }
  .titulo {
    margin-top: 250px;
    color: white;
    text-align: center;
    font-size: -webkit-xxx-large;
  }
  .button-container {
    text-align: center;
  }

  .button-home {
    background-color: rgba(24, 24, 25, 0.51) !important;
    width: 130px !important;
    height: 45px;
    margin-bottom: 30px

  }
  .first {
    margin-right: 30px !important;
  }
  .second {
    margin-left: 30px !important;
  }
  .shadow-title {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .text {
    margin: 2%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .title {
    font-size: large;
    font-weight: bold;
  }

  .lh-24 {
    line-height: 1.4;
  }
}
