<ion-card no-border>
  <ion-card-content no-border>
    <div class="row">
      <ion-col class="imagecol" col-2 (click)="showAlbumClick()">
        <ion-avatar item-start>
          <img class="card-image" src='assets/imgs/CD1-La-Natividad.jpg' *ngIf="album.id === '5b3add61b520934ecfd21838'">
          <img class="card-image" src='assets/imgs/CD2-Inicios.jpg' *ngIf="album.id === '5b3ceb94339c8c1ad990a9d2'">
          <img class="card-image" src='assets/imgs/CD3-Parabolas.jpg' *ngIf="album.id === '5b3cebdb339c8c1ad990a9d3'">
          <img class="card-image" src='assets/imgs/CD4-Milagros.jpg' *ngIf="album.id === '5b3cebe9339c8c1ad990a9d4'">
          <img class="card-image" src='assets/imgs/CD5-Predicacion.jpg' *ngIf="album.id === '5b3cebfd339c8c1ad990a9d5'">
          <img class="card-image" src='assets/imgs/CD6-jesus-hijo-de-dios-i.jpg' *ngIf="album.id === '5b3cec15339c8c1ad990a9d6'">
          <img class="card-image" src='assets/imgs/CD7-jesus-hijo-de-dios-ii.jpg' *ngIf="album.id === '5b3cec2d339c8c1ad990a9d7'">
          <img class="card-image" src='assets/imgs/CD8-Pasion-Resurreccion.jpg' *ngIf="album.id === '5b3cec44339c8c1ad990a9d8'">
          <!--<img class="card-image" src='assets/imgs/evangelios.jpg' *ngIf="category">-->
        </ion-avatar>
      </ion-col>
      <ion-col class="infocol" col-7 (click)="showAlbumClick()">
        <div class="center-components">
          <p class="title shadow-title">{{album.name}}</p>
          <!--<p class="info">{{number}} Pistas</p>-->
          <p class="info" *ngIf="album.id === '5b3add61b520934ecfd21838'">18 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3ceb94339c8c1ad990a9d2'">38 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cebdb339c8c1ad990a9d3'">32 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cebe9339c8c1ad990a9d4'">32 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cebfd339c8c1ad990a9d5'">38 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cec15339c8c1ad990a9d6'">35 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cec2d339c8c1ad990a9d7'">35 Pistas</p>
          <p class="info" *ngIf="album.id === '5b3cec44339c8c1ad990a9d8'">31 Pistas</p>
        </div>
      </ion-col>
      <ion-col col-3>
        <ion-icon class="iconinfo" (click)="openInfo()" name="information-circle" *ngIf="!category"></ion-icon>
        <div class="row" style="margin-top: 20px !important;text-align: center;">
          <ion-toggle text-right [(ngModel)]="checked" *ngIf="showToggle" color="secondary" class="toggle-card" item-end
                      (ionChange)="downloadMusic($event)"></ion-toggle>

          <p *ngIf="showToggle" style="font-family: sans-serif;width: 86%;font-size: .9rem;color:white!important;">Descargar</p>
          <!--<ion-icon name="md-cloud-download" [ngClass]="{' green' : checked }"></ion-icon>-->
        </div>
      </ion-col>
    </div>
  </ion-card-content>
</ion-card>
