album-card {

  p {
    color: #afafaf !important;
    //margin-left: 10% !important;
  }
  .card-md {
    box-shadow: none !important;
  }
  .card-image {
    background: rgba(48, 45, 36, 1);
    width: 5rem;
    height: 5rem;
    display: inline-block;
    object-fit: cover
  }

  .card-content-md {
    padding: 0;
  }

  .transparent {
    background: transparent !important;
  }

  .green {
    color:rgba(0,128,0,0.48);
  }

  ion-card {
    background: transparent !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    /*.card-content{
        background: rgba(87, 93, 97, 0.41) !important;
    }*/
  }

  .center-components {
    //padding-left: 1.875rem !important;
    text-align: left;
    position: relative;
    top: -12px;
  }

  .title {
    color: white !important;
    font-size: 2.2rem !important;
    //margin-right: 12% !important;
  }

  .shadow-title {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  .info {
    color: white !important;
    font-size: 1.4rem !important;
  }

  .toggle-card {
    float: right !important;
  }

  .white {
    color: white;
  }

  .topMargin {
    margin-top: 5%
  }

  .imagecol {
    margin-top: 5%;
    text-align: center;
  }

  .infocol {
    margin-top: 8%
  }

  .iconinfo {
    margin-left: 75%;
    font-size: 163%;
    position: absolute;
    color: white;
  }

}
