page-media {
  .arrow-custom {
    text-align: center;
    color: white;
    margin-top: 27px;
    font-size: 2rem;
  }
  ion-content {
    background: rgba(48, 45, 36, 1);
    background: -moz-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48, 45, 36, 1)), color-stop(100%, rgba(9, 10, 9, 1)));
    background: -webkit-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -o-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: -ms-linear-gradient(top, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(48, 45, 36, 1) 0%, rgba(9, 10, 9, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#302d24', endColorstr='#090a09', GradientType=0);
    position: relative;
    //font-family: 'Roboto';
    color: white !important;
    &::after {
      content: "";
      background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      color: white !important;
    }
  }

  .font-Holy {
    font-family: 'Roboto';
  }

  .header-song {
    height: 45% !important;
    width: 90% !important;
    left: 5%;
    top: 2%;
    -webkit-box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 6px 16px 1px rgba(0,0,0,0.75) !important;
  }

  ion-navbar {
    .button-inner {
      color: white !important;
    }
  }

  .scroll-content {
    //background: linear-gradient(#001130, black) !important;
  }

  .toolbar-background {
    color: black !important;
    background: transparent !important;
  }

  .button-transparent {
    background: transparent !important;
    color: white !important;
  }

  .white {
    color: white !important;
  }

  .center {
    text-align: center;
  }

  .music-info-container {
    //margin-top: 35%;
    height: 44.9vh;
    padding-top: 24%;
    background-color: rgba(0, 0, 0, 0.59);
    .toolbar-title {
      text-align: center !important;
      color: white !important;
      font-size: 2.5rem !important;
    }
  }

  .transparent {
    background: transparent !important;
  }
  .select-text {
    color: white !important;
  }

  .x-small {
    font-size: x-small !important;
  }

  ion-select {
    padding-left: 30% !important;
    max-width: 100% !important;
  }

  .play-pause-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: white !important;
    border-color: white !important;
    font-size: 2.3em;
    margin-left: 2% !important;
    border-radius: 50% !important;
  }

  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    color: white !important;
    border-color: white !important;
  }

  .center-items {
    height: 100%;
    text-align: center;
  }

  .range-bar {
    height: 4px !important;
    top: 24px !important;
  }

  .range-md{
    .range-knob {
      height: 18px !important;
      width: 18px !important;
      margin-top: 10% !important;
    }

  }

.range-ios{
  .range-knob {
    height: 18px !important;
    width: 18px !important;
    margin-top: 17% !important;
  }
}

  .player {
    margin-top: 12%;
    height: 30%;
  }

.range-md{
  .volume {
    .range-knob {
      height: 20px !important;
      width: 20px !important;
      margin-top: 7% !important;
    }

  }
}

.range-ios{
  .volume {
    .range-knob {
      height: 20px !important;
      width: 20px !important;
      margin-top: 16% !important;
    }

  }
}

  .player-label {
    color: white !important;
  }

  ion-spinner {
    margin-left: 47% !important;
    * {
      stroke: white;
    }

    &.spinner-circles circle,
    &.spinner-bubbles circle,
    &.spinner-dots circle {
      fill: white;
    }
  }

  .scroll-content {
    overflow-y: hidden !important;
  }

  .false-spinner {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
  }

  .white {
    color: white !important;
  }

  .vol {
    background-color: transparent !important;
    .item-inner {
      border-bottom: 0px !important
    }
  }

  .range-slider {
    margin-bottom: 3% !important;
  }

  .subtitles-div {
    width: 100%;
    padding: 0 54px;
    height: 22.9vh;
    text-align: center;
    color: white;
    overflow-y: auto;
    /*    background-color: rgba(0, 0, 0, 0.59);*/
    .subtitle {
      margin-top: 0;
      font-size: 24px;
      color: white;
      font-weight: 300;
      display: inline-block;
    }
    .active {
      color: #66dc71;
      text-shadow: 1px 1px 0px rgb(0, 0, 0);
    }
  }

  .no-margin-bottom{
        margin-bottom: 0px !important;
  }

}
