<ion-header id="headerMedia" class="header-song">
  <ion-navbar style="position: absolute;z-index: 999999999;">

  </ion-navbar>
  <div class=" music-info-container center" *ngIf="this.lyrics">
    <div class="subtitles-div" *ngIf="this.lyrics.length > 0" #scroll>
      <!--<ion-content #scroll>-->
      <h1 class="subtitle"
              *ngFor="let subtitle of this.lyrics">
            {{subtitle.text}}&nbsp;
          </h1>
      <!--</ion-content>-->
    </div>
    <div class="arrow-custom">
      <ion-icon name="arrow-down"></ion-icon>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="player">
    <ion-title class="font-Holy">{{this.dataService.getPlayingName()}}</ion-title>

    <p class="white center no-margin-bottom" *ngIf="this.dataService.getDuration() == -1"> --:-- </p>
    <p class="white center no-margin-bottom" *ngIf="this.dataService.getDuration() != -1"> {{this.dataService.getDuration()*1000 | date:'mm:ss'
      }} </p>
    <ion-range min="0" max="{{this.dataService.getDuration()}}" [(ngModel)]="currentPosition">
      <!--  [disabled]="is_in_play && is_playing"  -->
      <ion-label class="player-label" range-left>
        <span style="font-variant-numeric:tabular-nums">{{ this.dataService.position*1000 | date:'mm:ss' }}</span>
      </ion-label>
      <ion-label class="player-label" range-right *ngIf="this.dataService.getDuration() == -1">--:--</ion-label>
      <ion-label class="player-label" range-right *ngIf="this.dataService.getDuration() != -1">
        <span style="font-variant-numeric:tabular-nums">{{ this.dataService.getDuration()*1000 | date:'mm:ss' }}</span>
      </ion-label>
    </ion-range>
    <ion-spinner [hidden]="!dataService.getShowLoading() || !dataService.getPlaying()" name="dots" class="center"></ion-spinner>
  </div>
  <br>
  <ion-grid>
    <ion-row class="center-items" align-items-center>
      <ion-col>
        <!-- Backwards -->
        <button ion-button outline class="skip-btn" color="primary" (click)="previousSong()">
          &nbsp;&nbsp;<ion-icon name="skip-backward"></ion-icon>&nbsp;&nbsp;
        </button>
      </ion-col>
      <ion-col>
        <!-- Play/Pause -->
        <button ion-button outline class="play-pause-btn" *ngIf="!this.dataService.getPlaying()" color="primary"
                (click)="playMusic()">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button outline class="play-pause-btn" *ngIf="this.dataService.getPlaying()" color="secondary"
                (click)="pauseMusic()">
          <ion-icon name="pause"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <!-- Forwards -->
        <button outline ion-button class="skip-btn" color="primary" (click)="nextSong()">
          &nbsp;&nbsp;<ion-icon name="skip-forward"></ion-icon>&nbsp;&nbsp;
        </button>
      </ion-col>
    </ion-row>
    <!--<ion-item class="vol">
      <ion-range min="0" max="100" class="volume" [(ngModel)]="this.volume" (ngModelChange)="changeVolume()">
        <ion-icon range-left class="white" name="volume-mute"></ion-icon>
        <ion-icon range-right class="white" name="volume-up"></ion-icon>
      </ion-range>
    </ion-item>-->
  </ion-grid>
</ion-content>
