<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="pure-title">Sugerencias</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="wrapper-body">
    <ion-item style="border-radius: 4px;">
      <ion-label>Categorías</ion-label>
      <ion-select [(ngModel)]="category">
        <ion-option value="Sugerencias">Sugerencias</ion-option>
        <ion-option value="Solicitudes">Solicitudes</ion-option>
        <ion-option value="Propuestas">Propuestas</ion-option>
        <ion-option value="Informe de errores">Informe de errores</ion-option>
        <ion-option value="Crash Report">Crash Report</ion-option>
        <ion-option value="Notificar el error en un texto">Notificar el error en un texto</ion-option>
        <ion-option value="Notificar un error en una pista">Notificar un error en una pista</ion-option>
        <ion-option value="Ayuda A nuestra app Jesus de Nazaret">Ayuda a nuestra app Jesus de Nazaret </ion-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-textarea placeholder="Escriba sus sugerencias" style="color: black !important;"
                  rows="10" [(ngModel)] = "this.comment.comment"></ion-textarea>
    <div class="wrapper-button">
      <button ion-button color="light" outline (click)="submitComment()">Enviar</button>
    </div>
  </div>
</ion-content>
