page-comments {
  ion-content {
    background: rgba(48,45,36,1);
    background: -moz-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,45,36,1)), color-stop(100%, rgba(9,10,9,1)));
    background: -webkit-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -o-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    background: linear-gradient(to bottom, rgba(48,45,36,1) 0%, rgba(9,10,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302d24', endColorstr='#090a09', GradientType=0 );
    position: relative;
    font-family: 'Roboto';
    color: white !important;
    &::after {
      content: "";
      background-image: url('../assets/imgs/wallpaper-playlist.png') !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      color: white !important;
    }
  }

  .wrapper-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 1.6rem !important;
  }

  .wrapper-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0 0;

    button {
      letter-spacing: 2px !important;
      font-size: 15px;
      padding: 0 20px !important;
    }
  }

  textarea {
    background: white !important;
    margin: 0 !important;
    width: 100% !important;
    padding: 10px !important;
    //font-size: 12px !important;
    font-size: 1.5rem !important;
    border-radius: 5px !important;
  }
}
